<div class="container">
	<div class="row">
		<div class="col-md-6 col-centered">
			<form name="newAdForm" novalidate>
				<div ng-show="!inEditMode"><h2>Publish New Ad</h2></div>
				<div ng-show="inEditMode"><h2>Edit Ad</h2></div>
                <!-- Title -->
				<div class="form-group has-feedback" ng-class="{ 'has-error' : (newAdForm.inputAdTitle.$error.required && (touchTitle || formSubmitted)), 'has-success' : newAdForm.inputAdTitle.$valid && (touchTitle || formSubmitted)}">
					<input type="text"  class="form-control" name="inputAdTitle" ng-model="ad.Title" placeholder="Title" required=""  aria-describedby="inputSuccess2Status" ng-blur="touchTitle=true">
					<div ng-show="touchTitle || formSubmitted">
						<div ng-if="newAdForm.inputAdTitle.$valid" ng-include src="'app/partials/formMessages/success.html'"></div>
						<div ng-if="newAdForm.inputAdTitle.$error.required" ng-include src="'app/partials/formMessages/error.html'"></div>
					</div>
				</div>
                <!-- Description -->
                <div class="form-group has-feedback" ng-class="{ 'has-error' : (newAdForm.inputAdDescription.$error.required && (touchDesciption || formSubmitted)), 'has-success' : newAdForm.inputAdDescription.$valid && (touchDesciption || formSubmitted)}">
                <textarea class="form-control" rows="3" name="inputAdDescription" ng-model="ad.Description" placeholder="Description" required=""  aria-describedby="inputSuccess2Status" ng-blur="touchDesciption=true"></textarea>
                    <div ng-show="touchDesciption || formSubmitted">
                        <div ng-if="newAdForm.inputAdDescription.$valid" ng-include src="'app/partials/formMessages/success.html'"></div>
                        <div ng-if="newAdForm.inputAdDescription.$error.required" ng-include src="'app/partials/formMessages/error.html'"></div>
                    </div>
                </div>
                <!-- Image -->
                <div>
                    <input type='file' id="ad-pic-upload" accept="image/*" fileread="ad.Img" />
                    <div class="text-center">
                        <img id="preview-pic" src="http://img4.wikia.nocookie.net/__cb20130819001030/lego/images/a/ac/No-Image-Basic.png" alt="" />
                        <button id="remove-img" type="button" class="btn btn-danger">Remove</button>
                    </div>
                </div>
                <!-- Category -->
				<select ng-model="ad.Category" class="form-control">
					<option style="display:none;" value="">Chose a Category</option>
					<option ng-repeat="cat in categories" value="{{cat.id}}">{{cat.name}}</option>
				</select>
                <!-- Town -->
				<select ng-model="ad.Town" class="form-control">
					<option style="display:none;" value="">Chose a Town</option>
					<option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
				</select>
				<div ng-show="inAdminEditMode">
					<!-- User -->
					<div class="form-group has-feedback" ng-class="{ 'has-error' : (newAdForm.inputAdUser.$error.required && (touchAdUser || formSubmitted) && (inAdminEditMode)), 'has-success' : newAdForm.inputAdUser.$valid && (touchAdUser || formSubmitted)}">
						<input type="text"  class="form-control" name="inputAdUser" ng-model="ad.User" placeholder="User" aria-describedby="inputSuccess2Status" ng-blur="touchAdUser=true">
						<div ng-show="touchAdUser || formSubmitted">
							<div ng-if="newAdForm.inputAdUser.$valid" ng-include src="'app/partials/formMessages/success.html'"></div>
							<div ng-if="newAdForm.inputAdUser.$error.required" ng-include src="'app/partials/formMessages/error.html'"></div>
						</div>
					</div>
					<!-- Date -->
					<div class='input-group date' id='datetimepicker1'>
	                    <input type='text' id="inputDate" class="form-control" ng-model="ad.Date" />
	                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                	</div>
                	<!-- Status -->
                	<select ng-model="ad.Status" class="form-control">
						<option value="Published">Published</option>
						<option value="WaitingApproval">Waiting Approval</option>
						<option value="Inactive">Inactive</option>
						<option value="Rejected">Rejected</option>
					</select>
				</div>

				<div class="text-center">
					<div ng-show="!inEditMode">
						<button class="btn btn-lg btn-primary register-button" type="submit" ng-click="uploadAd(ad, newAdForm.$valid)" value="Save">Publish</button>
					</div>
					<div ng-show="inEditMode">
						<button class="btn btn-lg btn-warning register-button" type="submit" ng-click="editAd(ad, newAdForm.$valid)" value="Save">Edit</button>
						<button class="btn btn-lg btn-primary register-button" ng-click="goToMyAds()">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>