<div class="col-md-10" ng-controller="adController">
	<div class="col-md-12 ad-box" dir-paginate="ad in ads | itemsPerPage: usersPerPage" total-items="adsCount">
		<div class="row">
			<div class="col-md-3 align-ad">
				<div class="text-center">
					<img ng-src="{{ad.imageDataUrl | validImg }}" alt="" onerror="this.onerror=null;this.src='https://cdn0.iconfinder.com/data/icons/very-basic-android-l-lollipop-icon-pack/24/cancel-2-128.png';">
				</div>
			</div>
			<div class="col-md-8 align-ad">
				<div class="row">
					<div class="col-md-12 text-center">
						<h3>{{ad.title}}</h3>
					</div>
					<div class="col-md-12">
						<span>Description: </span><p>{{ad.text}}</p>
					</div>
					<div class="col-md-12">
						<ul>
							<div ng-show="!$parent.inUserAds">
								<li><div class="ad-detail-title ">Name</div><div class='ad-detail'>{{ad.ownerName}}</div></li>
								<li><div class="ad-detail-title ">Email</div><div class='ad-detail'>{{ad.ownerEmail}}</div></li>
								<li><div class="ad-detail-title ">Phone</div><div class='ad-detail'>{{ad.ownerPhone}}</div></li>
							</div>
							<div ng-show="$parent.inUserAds">
								<li><div class="ad-detail-title ">Name</div><div class='ad-detail'>{{ad.ownerName}}</div></li>
								<li><div class="ad-detail-title ">Email</div><div class='ad-detail'>{{ad.ownerEmail}}</div></li>
							</div>
							<li><div class="ad-detail-title ">Date</div><div class='ad-detail'>{{ad.date | date:'dd.MMM.yyyy' }}</div></li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center paging">
		<dir-pagination-controls boundary-links="true" id="goToPageOne" on-page-change="pageChangeHandler(newPageNumber, currentFilters)" template-url="libs/dirPagination.tpl.html"></dir-pagination-controls>
	</div>
</div>