<div class="container">
	<div class="row">
		<div class="col-md-8 col-centered">
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>Category</th>
					<th>Action</th>
				</tr>
				<tr dir-paginate="category in categories | itemsPerPage: categoriesPerPage" total-items="categoriesCount">
					<td>{{category.id}}</td>
					<td>{{category.username}}</td>
					<td>
						<button type="button" class="btn btn-warning btn-sm">Edit</button>
						<button type="button" class="btn btn-danger btn-sm">Delete</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="text-center paging">
				<dir-pagination-controls boundary-links="true" id="goToPageOne" on-page-change="pageChangeHandler(newPageNumber, currentFilter)" template-url="libs/dirPagination.tpl.html"></dir-pagination-controls>
		</div>
	</div>
	</div>
</div>