<nav class="navbar navbar-default navbar-static-top navbar-customNormal"  ng-class="{ 'navbar-custom' : (isLoggedIn && isAdmin) }" ng-controller="navBarController">
	<div class="container">
		<a href="#" class="navbar-brand">Обяви</a>
		<div>
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<div class="collapse navbar-collapse navHeaderCollapse">
				<div ng-show="!isLoggedIn">
					<ul class="nav navbar-nav navbar-left">
							<li data-ng-class="{'active':getClass('/')}"><a href="#/">Home</a></li>
					</ul>
				</div>
				<div ng-show="isLoggedIn && (!isAdmin)">
					<ul class="nav navbar-nav navbar-left">
							<li data-ng-class="{'active':getClass('/home')}"><a href="#/{{username}}/home">Home</a></li>
							<li data-ng-class="{'active':getClass('/ads')}"><a href="#/{{username}}/ads">My Ads</a></li>
							<li data-ng-class="{'active':getClass('/publish')}"><a href="#/{{username}}/publish">Publish New Ad</a></li>
							<li data-ng-class="{'active':getClass('/profile')}"><a href="#/{{username}}/profile">Edit Profile</a></li>
					</ul>
				</div>
				<div ng-show="isLoggedIn && isAdmin">
					<ul class="nav navbar-nav navbar-left">
							<li data-ng-class="{'active':getClass('/home')}"><a href="#/admin/home">Ads</a></li>
							<li data-ng-class="{'active':getClass('/')}"><a href="">Users</a></li>
							<li data-ng-class="{'active':getClass('/')}"><a href="">Categories</a></li>
							<li data-ng-class="{'active':getClass('/')}"><a href="">Towns</a></li>
					</ul>
				</div>
				<div ng-show="isLoggedIn">
					<ul class="nav navbar-nav navbar-right">
							<li><a href="#/{{username}}/home">Hello, {{username}}</a></li>
							<li><a href="#/" ng-click="logout()">Logout</a></li>
					</ul>
				</div>
				<div ng-show="!isLoggedIn">
					<ul class="nav navbar-nav navbar-right">
							<li data-ng-class="{'active':getClass('/login')}"><a href="#/login">Login</a></li>
							<li data-ng-class="{'active':getClass('/register')}"><a href="#/register">Register</a></li>
					</ul>
				</div>
			</div>
		</div>
		
	</div>
</nav>