<div class="container">
	<div class="row">
		<div class="col-md-10">
			<div class="col-md-12 ad-box" dir-paginate="ad in ads | itemsPerPage: usersPerPage" total-items="adsCount">
				<div class="row">
					<div class="col-md-3 align-ad">
						<div class="text-center">
							<img ng-src="{{ad.imageDataUrl | validImg }}" alt="" onerror="this.onerror=null;this.src='https://cdn0.iconfinder.com/data/icons/very-basic-android-l-lollipop-icon-pack/24/cancel-2-128.png';">
						</div>
					</div>
					<div class="col-md-8 align-ad">
						<div class="row">
							<div class="col-md-12 text-center">
								<h3>{{ad.title}}</h3>
							</div>
							<div class="col-md-12">
								<p>{{ad.text}}</p>
							</div>
							<div class="col-md-12">
								<ul>
									<li>{{ad.ownerName}}</li>
									<li>{{ad.ownerEmail}}</li>
									<li>{{ad.ownerPhone}}</li>
									<li>{{ad.date | date:'dd.MMM.yyyy' }}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center paging">
				<dir-pagination-controls boundary-links="true" id="goToPageOne" on-page-change="pageChangeHandler(newPageNumber, filterAds)" template-url="libs/dirPagination.tpl.html"></dir-pagination-controls>
        	</div>
		</div>
		<div class="col-md-2 filter-ads" ng-controller="filterController">
			<div>
				<div><h3>Categories</h3></div>
				<div>
					<input type="radio" id="all-cat" ng-model="filterAds.categoryFilterRadio" value="all-cat" ng-change='filterChange()'>
					<label for="all-cat">All</label>
					<input ng-repeat-start="cat in categories" type="radio" id="{{'c' + cat.id}}" ng-model="filterAds.categoryFilterRadio" value="{{'c' + cat.id}}" ng-change='filterChange()'>
					<label ng-repeat-end for="{{'c' + cat.id}}">{{cat.name}}</label>
				</div>
			</div>
			<div>
				<div><h3>Towns</h3></div>
				<div>
					<input type="radio" id="all-towns" ng-model="filterAds.townFilterRadio" value="all-town" ng-change='filterChange()'>
					<label for="all-towns">All</label>
					<div ng-repeat="town in towns">
						<input type="radio" id="{{'t' + town.id}}" ng-model="filterAds.townFilterRadio" value="{{'t' + town.id }}" ng-change='filterChange()'>
						<label for="{{'t' + town.id}}">{{town.name}}</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>