<div class="container">
	<div class="row">
		<div class="col-md-10">
			<div ng-include src="'app/partials/ads.html'"></div>
		</div>
		<div class="col-md-2">
			<div ng-include="inAdminAds ? 'app/partials/filterPersonalAds.html' : null "></div>
			<div ng-include="inUserAds ? 'app/partials/filterPersonalAds.html' : 'app/partials/filtersRigth.html'"></div>
		</div>
	</div>
</div>

<!-- <span ng-switch on="inUserAds">
   <div ng-switch-when="true" ng-include="'app/partials/filtersRigth.html'"></div>
</span> -->
<!-- <div ng-if="inUserAds" ng-include src="'app/partials/filtersRigth.html'"></div> -->