<div class="container">
	<div class="row">
		<div class="col-md-10">
			<div class="col-md-10 ad-box" dir-paginate="ad in ads | itemsPerPage: usersPerPage" total-items="adsCount">
				<div class="row">
					<div class="col-md-3 align-ad">
						<img ng-src="{{ad.imageDataUrl | validImg }}" alt="" onerror="this.onerror=null;this.src='https://cdn0.iconfinder.com/data/icons/very-basic-android-l-lollipop-icon-pack/24/cancel-2-128.png';">
					</div>
					<div class="col-md-8 align-ad">
						<div class="row">
							<div class="col-md-12 text-center">
								<h3>{{ad.title}}</h3>
							</div>
							<div class="col-md-12">
								<p>{{ad.text}}</p>
							</div>
							<div class="col-md-12">
								<ul>
									<li>{{ad.ownerName}}</li>
									<li>{{ad.ownerEmail}}</li>
									<li>{{ad.ownerPhone}}</li>
									<li>{{ad.date | date:'dd.MMM.yyyy' }}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2 filter-ads" ng-controller="filterController">
			<div>
				<div><h3>Categories</h3></div>
				<div>
					<input type="radio" id="all-cat" name="categoryFilterRadio" value="all" checked>
					<label for="all-cat">All</label>
					<div ng-repeat="cat in categories">
						<input type="radio" id="{{'c' + cat.id}}" name="categoryFilterRadio" value="{{cat.name}}">
						<label for="{{'c' + cat.id}}">{{cat.name}}</label>
					</div>
				</div>
			</div>
			<div>
				<div><h3>Towns</h3></div>
				<div>
					<input type="radio" id="all-towns" name="townFilterRadio" value="all" checked>
					<label for="all-towns">All</label>
					<div ng-repeat="town in towns">
						<input type="radio" id="{{'t' + town.id}}" name="townFilterRadio" value="{{town.name}}">
						<label for="{{'t' + town.id}}">{{town.name}}</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-centered text-center">
			<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="libs/dirPagination.tpl.html"></dir-pagination-controls>
          </div>
		</div>
	</div>
</div>