<div class="container">
	<div class="row delete-user">
		<div class="col-md-12 text-center">
			<h3>Delete User: {{user.username}}</h3>
		</div>
		<div class="col-md-12 text-center">
			<p>Name: {{user.name}}</p>
			<p>Email: {{user.email}}</p>
			<p>Phone Number: {{user.phoneNumber}}</p>
			<p>Town: {{user.townName | emptyText}}</p>
		</div>
		<div class="col-md-12 text-center btn-box">
			<button class="btn btn-danger" ng-click="deleteUser(user.username)">Delete</button>
			<button class="btn btn-primary" ng-click="returnToListUsers()">Cancel</button>
		</div>
	</div>
</div>