/*Main*/
body {
    padding-bottom: 10%;
    background-color: #F8F8FF;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div, p {
  word-wrap: break-word;
}

p {
  max-width: 100%;
}

.footer-fix {
	border-bottom: 0;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

#topcontrol {
  bottom: 65px !important;
}

/*Forms*/

form input, form select {
	margin-bottom: 2%;
}

form h2 {
	margin-bottom: 4%;
}

form img {
  margin-top: 2%;
  width: 200px;
  margin-bottom: 2%;
}

form #remove-img {
  margin-left: 1%;
  visibility: hidden;
  display: none;
}

form textarea {
  resize: vertical;
}

form {
  margin-bottom: 10%;
}

#datetimepicker1 {
  margin-bottom: 2%;
}

.btn-lg {
  width: 30%;
}

/*Ad display*/
.ad-container {
  margin-bottom: 10%;
}

.align-ad {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.ad-box img, .delete-ad img{
  max-width: 200px;
}

.delete-ad img {
  margin-bottom: 4%;
}

.btn-box {
  margin-top: 3%;
}

.paging {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%); /* IE 9 */
  -webkit-transform: translateX(-50%); /* Chrome, Safari, Opera */
}

.filter-ads input[type="radio"] {
    display:none;
}

.filter-ads label, #ad-status {
    display:block;
    background-color: #ddd;
    padding:4px 11px;
    font-family:Arial;
    font-size:16px;
}

.filter-ads input[type="radio"]:checked + label {
    background-color:#bbb;
}

.filter-ads .admin {
  background-color: #42bdbd;
}

.filter-ads .admin {
  background-color: #339191;
}

.ad-box ul {
  list-style-type: none;
  margin-top: 3%;
}

.ad-box h3 {
  font-family: Arial;
  margin-bottom: 6.5%;
}

.ad-box p {
  display: inline-block;
  margin-left: 2.5%;
  font-family: Tahoma;
  max-height: 200px;
  overflow: hidden;
}

.ad-box .ad-detail-title {
  width: 10%;
  display: inline-block;
}

.ad-box .ad-detail{
  background-color: #DDDDDD;
  padding: 1%;
  padding-left: 3%;
  margin-bottom: 3%;
  margin-left: 1.5%;
  display: inline-block;
  width: 79%;
}

.ad-box {
  border-bottom: 1px solid black;
  padding: 2.5%;
  padding-bottom: 3.5%;
  margin-bottom: 4%;
  background-color:   rgba(213,241,238, 0.01);
  border-radius-top-right: 5px;
}

#ad-status {
  margin-top: 10.0%;
}

.adminButton {
  display: inline-block;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 45%;
}

.spinnerSpecial {
  position: fixed;
  top: 25%;
  left: 47%;
}

.noAdsMessage {
  margin-top: 10%;
  font-weight: bold;
}

/*Admin List towns and categories*/

.createNewFilter {
  width: 100%;
  margin-top: 7.5%;
}

th span {
  cursor: default;
}

html, body {
    height: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.filterSection {
    min-height: 60%;
}

.unselectable {
-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
}

table td button:nth-child(2) {
  margin-right: 5%;
}

body > div.fill.ng-scope > div > div > div.col-md-12.col-centered.filterSection > table > tbody > tr:nth-child(5) > td:nth-child(5) {
  min-width: 126px;
}

/*Responsive webpage*/

@media only screen and (max-width: 991px){
  .paging {
    position: static;
  }

  .ad-box ul {
    padding-left: 0;
  }

  .ad-box p {
    margin-left: 0;
  }

  body {
    padding-bottom: 20%;
  }

  .paging {
    /*margin-left: -50px;*/
    transform: translateX(0);
    -ms-transform: translateX(0); /* IE 9 */
    -webkit-transform: translateX(0); /* Chrome, Safari, Opera */
  }

  .spinner {
    display: none;
  }
}

/*@media only screen and (max-width: 768px){
  .paging {
    margin-left: 0;
  }
}*/

@media only screen and (max-width: 500px){
  .ad-box .ad-detail-title {
    width: 20%;
  }

  .ad-box .ad-detail{
    width: 69%;
  }
}

/*Normal Navbar*/

.navbar-customNormal {
  background-color: #f4f4f4;
  border-color: #c7c7c7;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}
.navbar-customNormal .navbar-brand {
  color: #2f3d40;
}
.navbar-customNormal .navbar-brand:hover, .navbar-customNormal .navbar-brand:focus {
  color: #000000;
}
.navbar-customNormal .navbar-text {
  color: #2f3d40;
}
.navbar-customNormal .navbar-nav > li > a {
  color: #2f3d40;
}
.navbar-customNormal .navbar-nav > li > a:hover, .navbar-customNormal .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-customNormal .navbar-nav > .active > a, .navbar-customNormal .navbar-nav > .active > a:hover, .navbar-customNormal .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #c7c7c7;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}
.navbar-customNormal .navbar-nav > .open > a, .navbar-customNormal .navbar-nav > .open > a:hover, .navbar-customNormal .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #c7c7c7;
}
.navbar-customNormal .navbar-toggle {
  border-color: #c7c7c7;
}
.navbar-customNormal .navbar-toggle:hover, .navbar-customNormal .navbar-toggle:focus {
  background-color: #c7c7c7;
}
.navbar-customNormal .navbar-toggle .icon-bar {
  background-color: #2f3d40;
}
.navbar-customNormal .navbar-collapse,
.navbar-customNormal .navbar-form {
  border-color: #2f3d40;
}
.navbar-customNormal .navbar-link {
  color: #2f3d40;
}
.navbar-customNormal .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-customNormal .navbar-nav .open .dropdown-menu > li > a {
    color: #2f3d40;
  }
  .navbar-customNormal .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-customNormal .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-customNormal .navbar-nav .open .dropdown-menu > .active > a, .navbar-customNormal .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-customNormal .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #c7c7c7;
  }
}

/*Admin Navbar*/
.navbar-custom {
  background-color: #f6b309;
  border-color: #f9cc57;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
  color: #000000;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #f9cc57;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}
.navbar-custom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a:hover, .navbar-custom .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #f9cc57;
}
.navbar-custom .navbar-toggle {
  border-color: #f9cc57;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #f9cc57;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #ffffff;
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a, .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #f9cc57;
  }
}