/*Main*/

body {
    padding-bottom: 10%;
}

.footer-fix {
	border-bottom: 0;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

/*Forms*/

form input {
	margin-bottom: 2%;
}

form h2 {
	margin-bottom: 4%;
}

.btn-lg {
  width: 30%;
}

/*Ad display*/
.align-ad {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.ad-box img {
  max-width: 200px;
}

.filter-ads input[type="radio"] {
    display:none;
}

.filter-ads label {
    display:block;
    background-color:#ddd;
    padding:4px 11px;
    font-family:Arial;
    font-size:16px;
}

.filter-ads input[type="radio"]:checked + label {
    background-color:#bbb;
}